<!DOCKTYPE html>
<html lang = "ja">
  <head>
    <meta charset = "UTF-8">
    <title> WebCampBackendNew </title>
    <link rel = "stylesheet" href ="homes.css">
  </head>

  <body>
    <main>
      <h1>ようこそ
      <stong>Bookers</stong>
      へ！
      </h1>

      <p>Bookersでは、さまざまな書籍に関するあなたの意見や</p>
      <p>印象を共有し交換することができます</p>

      <P><a href = "/books">start</a></P>

    </main>
  </body>

</html>